/** {
    overflow-x: hidden;
}*/

/** {
    box-sizing: border-box;
}*/
/***
Nav and Banner
***/

#logo {
    width: 200px;

    transition: opacity 1.5s;
    opacity: 0;
}


.navbar-brand {
    padding: 0px 15px;
    display: inline-block;
}

.my-nav {
    margin-bottom: 0px;
    background: transparent;
    border-color: transparent;
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: background 1s;
}


.nav-options {
    color: white;
}

#bs-example-navbar-collapse-1{

    padding-right: 0px;
    padding-left: 0px;

}

.navbar-default .navbar-nav>li>a {
    color: #72BDA3;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #516470;
    color: #30BCED;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: table;
    padding: 0% 25%;
}

.banner::before {
    content: "";
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("./compressjpeg/banner3-min.jpeg");
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    overflow: hidden;
}

.nav-options {
    font-family: "Roboto";
    font-size: 15px;
}

.banner-text  {
    font-size: 40px;
    color: #72BDA3;
    font-family: 'Montserrat';
    display: table-cell;
    vertical-align: middle;
    text-shadow: 3px 7px 4px black;
}


/*
Profile / Contacts
*/

.portfolio {
    height: 100vh;
}

.about-me, .portfolio {
    position: relative;
}

.about-me {
    background-color: whitesmoke;
    font-family: "Roboto";
    color: #3B322C;

}

.about-me h3, h4, p{
    font-family: "Roboto";
    color: #3B322C;
    font-size: 25px;
    padding: 0% 5%;
}

.about-me p{
    text-align: justify;
}

.bio h4 {
    color: #55828B;
    font-weight: bold;
}

.bio-image, .work {
    position: relative;
    text-align: center;
}



.bio-image, .bio {
    margin-top: 60px;
    margin-bottom: 60px;
}

.image-caption{
    margin-top: 20px;
}

.contact {
    margin-left: 30px;
    display: inline-block;
}

.details-header {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.details-info {
    margin-top: 20px;
}

.last {
    margin-top: 10px;
}

.links {
    display: inline-block;
    margin-left: 150px;
}



.img {
    height: 200px;
    width: 225px;
    margin-top: 15px;
}

.pic {
    border-radius: 20%;
}
/*Skills*/
.skill-header {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.header {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
}

.header2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #72BDA3;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 80px;
}

.skill-list {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 40px;
}

.skill-list > li {
    font-size: 25px;
    color: #72BDA3;
    font-family: 'Montserrat';
}

.skills {
    height: 600px;
    position: relative;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("./compressjpeg/tools-min.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.skills > div {
    margin-top: 80px;
    width: 100%;
}

/*portfolio*/

.project-container {
    height: 500px;
    text-align: center;
}

.project-thumbnail {
    height: 300px;
    width: 500px;
    display: inline-block;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: black;
}

.thumbnail-link {
    color: #337ab7;
    margin: auto;
    font-size: 40px;
    font-family: "Montserrat";
    height: 300px;
    width: 500px;
    text-decoration: none;
}

.description {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Project page*/

.go-back {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 5em;
    border: #72BDA3 1px solid;
    padding: 15px;
    border-radius: 2px;
    color: #72BDA3;
    font-size: 20px;
    font-family: "Montserrat";
    z-index: 1;
}

.go-back:hover {
    color: white;
    border-color: white;
    text-decoration: none;
}

#description-container {
    margin-top: 15em;
}

.project-description {
    font-size: 20px;
    font-family: "Montserrat";
    color: #72BDA3;
}

.link {
    color: white;
}





@media only screen and (max-width: 992px) {
    .skills {
    height: auto;
}
    .skills > div {
        position: relative;
        top: 0%;
        transform: translateY(0%);
        width: 100%;
}
}

@media only screen and (max-width: 650px) {
    .banner-text {
        padding: 0% 0%;
        font-size: 30px;
    }

    .banner {
        padding: 0% 5%;
        height: 500px;
    }

    .about-me {
        height: auto;
    }
}
